# Core AI and Vector Search
langchain
langchain-google-genai
langchain-community
sentence-transformers
pinecone

# Document Loaders & HTTP requests
pypdf
requests

# API Framework
fastapi
uvicorn[standard]

# For environment variables

python-dotenv
